<table class="table table-borderless" >
    <tr class="d-flex">
        <th class="col-2">Name</th>
        <td class="col-8">{{form.name}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Type</th>
        <td class="col-8">{{form.type_many}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'installations:institutiontype-insert' 'inline'%}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">City</th>
        <td class="col-8">{{form.city}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'installations:city-insert' 'inline' %}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Neighbourhood</th>
        <td class="col-8">{{form.neighbourhood}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'installations:neighbourhood-insert' 'inline' %}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Location</th>
        <td class="col-4">{{form.latitude}}</td>
        <td class="col-4">{{form.longitude}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Start date</th>
        <td class="col-4">{{form.start_date_lower}}</td>
        <td class="col-4">{{form.start_date_upper}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">First reference</th>
        <td class="col-4">{{form.first_reference_lower}}</td>
        <td class="col-4">{{form.first_reference_upper}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">End date</th>
        <td class="col-4">{{form.end_date_lower}}</td>
        <td class="col-4">{{form.end_date_upper}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Religion</th>
        <td class="col-8">{{form.religion}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'installations:religion-insert' 'inline'%}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Secondary literature</th>
        <td class="col-8">{{form.secondary_literature}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'installations:secondaryliterature-insert' 'inline'%}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Comment</th>
        <td class="col-8">{{form.comment}}</td>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Status (Completed)</th>
        <td class="col-1" align="left">{{form.status}}</td>
    </tr>
</table>