<table class="table table-borderless" >
    <tr class="d-flex">
        <th class="col-2">Name</th>
        <td class="col-8">{{form.name}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Gender</th>
        <td class="col-8">{{form.gender}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Birth</th>
        <td class="col-4">{{form.birth_lower}}</td>
        <td class="col-4">{{form.birth_upper}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Death</th>
        <td class="col-4">{{form.death_lower}}</td>
        <td class="col-4">{{form.death_upper}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Role</th>
        <td class="col-8">{{form.role}}</td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Religion</th>
        <td class="col-8">{{form.religion}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'installations:religion-insert' 'inline' %}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Secondary literature</th>
        <td class="col-8">{{form.secondary_literature}}</td>
        <td><a class = "btn btn-link btn-sm ml-auto" target = "_blank"
           href ="{% url 'installations:secondaryliterature-insert' 'inline' %}"
           role="button"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr class="d-flex">
        <th class="col-2">Comment</th>
        <td class="col-8">{{form.comment}}</td>
    </tr>
</table>