{% extends "installations/base.html" %}

{% block main_content %}
    <h2>
        Accessory page
    </h2>
    <p>
    This page is accessible to Admin. <br>
    In this page you have access to run some admin methods to the database.
    </p>

    <h1> Installations</h1>
    <p> Following button converts the searchable fields of Installation model to Unaccented</p>
    <form method='GET'>
    <button type='submit' name="unaccent_action" value="un_installation" class ="btn btn-success">Unaccent Installation</button>
    </form>
    <br><br>

    <h1> Institution</h1>
    <p> Following button converts the searchable fields of Institution model to Unaccented</p>
    <form method='GET'>
    <button type='submit' name="unaccent_action" value="un_institution" class ="btn btn-success">Unaccent Institution</button>
    </form>
    <br><br>

    <h1> Person</h1>
    <p> Following button converts the searchable fields of Person model to Unaccented</p>
    <form method='GET'>
    <button type='submit' name="unaccent_action" value="un_person" class ="btn btn-success">Unaccent Person</button>
    </form>
    <br><br>

    <h1> Evidence</h1>
    <p> Following button converts the searchable fields of Person model to Unaccented</p>
    <form method='GET'>
    <button type='submit' name="unaccent_action" value="un_evidence" class ="btn btn-success">Unaccent Evidence</button>
    </form>
    <br><br>

    <h1> Water system</h1>
    <p> Following button converts the searchable fields of Water system model to Unaccented</p>
    <form method='GET'>
    <button type='submit' name="unaccent_action" value="un_watersystem" class ="btn btn-success">Unaccent Water system</button>
    </form>
    <br><br>

    <h1> Institution type</h1>
    <p> Following button converts the searchable fields of Institution type model to Unaccented</p>
    <form method='GET'>
    <button type='submit' name="unaccent_action" value="un_institutiontype" class ="btn btn-success">Unaccent Institutiontype</button>
    </form>

{% endblock %}