{% extends "installations/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.3.3/jscolor.min.js"></script>

{% endblock %}


{% block main_content %}
    <h2>
        {% if not form.instance.pk %}
            Add Style
        {% else %}
            Update Style "{{form.instance.name}}"
        {% endif %}
    </h2>

<form method="post" enctype="multipart/form-data" onsubmit="dosubmit();">
{% csrf_token %}

<script>
// let's set defaults for all color pickers
jscolor.presets.default = {
    height: 181,              // make the picker box a little bigger
    position: 'right',        // position the picker to the right of the target
    previewPosition: 'right', // display color preview on the right side
    previewSize: 40,          // make color preview bigger
};
</script>

{%if page_name == "Edit style" and 'unknown' not in crud.last_update %}
    {% include 'utilities/change_log.html' %}
    {% else %} <p class="mb-4"></p>
{% endif %}
<table class="table table-borderless table-sm">
	<tr class="d-flex">
		<th class="col-2">Name</th>
		<td class="col-8">{{form.name}} {{form.name.error}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Color</th>
		<td class="col-8">{{form.color}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Stroke weight</th>
		<td class="col-8">{{form.stroke_weight}} {{form.stroke_weight.error}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Stroke opacity</th>
		<td class="col-8">{{form.stroke_opacity}} {{form.stroke_opacity.error}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Fill opacity</th>
		<td class="col-8">{{form.fill_opacity}} {{form.fill_opacity.error}}</td>
	</tr>
    <tr class="d-flex">
		<th class="col-2">Z index</th>
		<td class="col-8">{{form.z_index}} {{form.z_index.error}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-2">Dashed</th>
		<td class="col-1" align="left">{{form.dashed}} {{form.dashed.error}}</td>
	</tr>
</table>




        <div class="form-group">
            {% if not form.instance.pk %}
                <button type="submit" class="btn btn-success"><i class="fa fa-database"></i>Save</button>
            {% else %}
                <button type="submit" class="btn btn-success"><i class="fa fa-database"></i>Update</button>
            {% endif %}
            <a href="{% url 'installations:style-list' %}" class="btn btn-default">Cancel</a>
        </div>
</form>


<script>

if(document.getElementById("id_fill_opacity").value == "") {
	document.getElementById("id_fill_opacity").value =0.3;
}
if(document.getElementById("id_stroke_opacity").value == "") {
	document.getElementById("id_stroke_opacity").value =0.8;
}
if(document.getElementById("id_stroke_weight").value == "") {
	document.getElementById("id_stroke_weight").value =3;
}
if(document.getElementById("id_z_index").value == "") {
	document.getElementById("id_z_index").value =0;
}
</script>

{% endblock %}
