{% extends "installations/base.html" %}

{% block main_content %}

    <h2>
        {% if not form.instance.pk %}
            Add Figure
        {% else %}
            Update figure "{{form.instance.name}}"
        {% endif %}
    </h2>

<form method="post" enctype="multipart/form-data" onsubmit="dosubmit();">
{% csrf_token %}

<!-- edit_model needs focus and there was an erroe here! -->
{% include 'utilities/edit_minimize_tab.html' %}
<div class="tab-content">
    <div class="tab-pane fade" id="Edit">
	<!-- text form is defined in a seperate template -->
    </div>
    <div class="tab-pane fade" id="Minimize">
		<!-- you can minimize the text form -->
    </div>
</div>


{%if page_name == "Edit figure" and 'unknown' not in crud.last_update %}
    {% include 'utilities/change_log.html' %}
    {% else %} <p class="mb-4"></p>
{% endif %}
{% include 'installations/_figure_form.html' %}

{% if view == "inline" %}
{% else %}
{#    Formsets#}
{% endif %}



<input type="hidden" name="navbar" id="navbar" value="" />
<input type="hidden" name="navcontent" id="navcontent" value="" />
<input type="hidden" name="focus" id="focus" value="" />
<button type="submit" value="Submit" class ="btn btn-success"><i class="fa fa-database"></i>Save</button>

<a type="reset" value="Cancel" class ="btn btn-light" href="{% url 'installations:figure-list' %}">Cancel</a>



{% include 'utilities/tab_selector.html' %}
</form>

{% endblock %}
