{% extends "installations/base.html" %}

{% block main_content %}
    <h2>Evidence list</h2>
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <th scope="col">Title
                    <a href="?q={{query}}&order_by=title&direction=ascending"> <i class="fas fa-sort-down"></i> </a>
                    <a href="?q={{query}}&order_by=title&direction=descending"> <i class="fas fa-sort-up"></i> </a>
                </th>
                <th scope="col">Author
                    <a href="?q={{query}}&order_by=author&direction=ascending"> <i class="fas fa-sort-down"></i> </a>
                    <a href="?q={{query}}&order_by=author&direction=descending"> <i class="fas fa-sort-up"></i> </a>
                </th>
                <th scope="col">Description
                    <a href="?q={{query}}&order_by=description&direction=ascending"> <i class="fas fa-sort-down"></i> </a>
                    <a href="?q={{query}}&order_by=description&direction=descending"> <i class="fas fa-sort-up"></i> </a>
                </th>
                <td>Status
                <a href="?q={{query}}&order_by=status&direction=ascending"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=status&direction=descending"> <i class="fas fa-sort-up"></i> </a>
                </td>

                <td>
                    <a href= "{% url 'installations:evidence-insert' %}"
                       class="btn btn-outline-success"
{#                       target="popup"#}
{#                       onclick="window.open('{% url 'installations:evidence-insert' %}','popup','width=600,height=600'); return false;"#}
                    >
                        <i class="fa fa-plus"></i> Add New</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for evidence in evidences %}
            <tr>
                <td>{{evidence.title}}</td>
                <td>{{evidence.author}}</td>
                <td>{{evidence.description}}</td>
                <td>
                    {% if evidence.status %}
                        <span class="Gdot"></span>
                    {% else %}
                        <span class="Rdot"></span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'installations:evidence-update' evidence.id %}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
                    <form action="{% url 'installations:evidence-delete' evidence.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete all entities connected to this from the database?')">
                        <i class="fa fa-trash fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}