{% extends "installations/base.html" %}
{% load crispy_forms_tags %}

{% block main_content %}

    <h2>
        {% if not form.instance.pk %}
            Add Evidence
        {% else %}
            Update Evidence "{{form.instance.title}}"
        {% endif %}
    </h2>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
{#                    {{ form.as_p }}#}
                {{ form|crispy }}
            <div class="form-group">
                {% if not form.instance.pk %}
                    <button type="submit" class="btn btn-success"><i class="fa fa-database"></i>Save</button>
                {% else %}
                    <button type="submit" class="btn btn-success"><i class="fa fa-database"></i>Update</button>
                {% endif %}
                <a href="{% url 'installations:evidence-list' %}" class="btn btn-default">Cancel</a>
            </div>

        </form>
    </div>
{% endblock %}