<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{% url 'installations:home' %}">Source of Life </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'installations:home' %}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--      </li>-->
    {% if user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'installations:city-list' %}">City</a>
              <a class="dropdown-item" href="{% url 'installations:institution-list' %}">Institution</a>
              <a class="dropdown-item" href="{% url 'installations:person-list' %}">Person</a>
              <a class="dropdown-item" href="{% url 'installations:installation-list' %}">Installation</a>
              <a class="dropdown-item" href="{% url 'installations:bibliography-list' %}">Bibliography</a>
              <a class="dropdown-item" href="{% url 'installations:textualevidence-list' %}">Textual evidence</a>
              <a class="dropdown-item" href="{% url 'installations:materialevidence-list' %}">Material evidence</a>
              <a class="dropdown-item" href="{% url 'installations:watersystem-list' %}">Water system</a>
              <a class="dropdown-item" href="{% url 'installations:purpose-list' %}">Purpose</a>
              <a class="dropdown-item" href="{% url 'installations:sourcetype-list' %}">Source type</a>
              <a class="dropdown-item" href="{% url 'installations:institutiontype-list' %}">Institution type</a>
              <a class="dropdown-item" href="{% url 'installations:religion-list' %}">Religion</a>
              <a class="dropdown-item" href="{% url 'installations:citypersonrelation-list' %}">City-Person relation</a>
              <a class="dropdown-item" href="{% url 'installations:personinstitutionrelation-list' %}">Person-Institution relation</a>

<!--          <a class="dropdown-item" href="#">Something else here</a>-->
          </div>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add</a>
          <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="{% url 'installations:city-insert' %}">City</a>
              <a class="dropdown-item" href="{% url 'installations:institution-insert' %}">Institution</a>
              <a class="dropdown-item" href="{% url 'installations:person-insert' %}">Person</a>
              <a class="dropdown-item" href="{% url 'installations:installation-insert' %}">Installation</a>
              <a class="dropdown-item" href="{% url 'installations:bibliography-insert' %}">Bibliography</a>
              <a class="dropdown-item" href="{% url 'installations:textualevidence-insert' %}">Textual evidence</a>
              <a class="dropdown-item" href="{% url 'installations:materialevidence-insert' %}">Material evidence</a>
              <a class="dropdown-item" href="{% url 'installations:watersystem-insert' %}">Water system</a>
              <a class="dropdown-item" href="{% url 'installations:purpose-insert' %}">Purpose</a>
              <a class="dropdown-item" href="{% url 'installations:sourcetype-insert' %}">Source type</a>
              <a class="dropdown-item" href="{% url 'installations:institutiontype-insert' %}">Institution type</a>
              <a class="dropdown-item" href="{% url 'installations:religion-insert' %}">Religion</a>
              <a class="dropdown-item" href="{% url 'installations:citypersonrelation-insert' %}">City-Person relation</a>
              <a class="dropdown-item" href="{% url 'installations:personinstitutionrelation-insert' %}">Person-Institution relation</a>
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>
    {% endif %}

      <!-- Log in and Sign up     -->
      {% if user.is_authenticated %}
         <li class="nav-item">
          <a class="nav-link" href="{% url 'installations:logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'installations:user_login' %}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'installations:register' %}">Sign up</a>
        </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>