{% extends 'installations/base.html' %}
{% load leaflet_tags %}

{% block main_content %}

<h1>Source of Life</h1>
<h3>Water Management in the Premodern Middle East (7th-15th c.)</h3>
<hr>
<p>
    Water management is the single most important requirement for sustaining complex societies and large cities.
    Water scarcity is often not just a resource problem, but an issue of governance. This project examines the
    interrelationship between water installations, governance, and legal and cultural frameworks in five Middle Eastern cities
    from the first Arab conquests to Ottoman rule (7th-15th c.).
</p>

{% leaflet_map "Mainmap" %}

{% endblock main_content %}
