{% extends "installations/base.html" %}

{% block main_content %}
    <h2>Institution type list</h2>
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <th scope="col">Name
                    <a href="?q={{query}}&order_by=name&direction=ascending"> <i class="fas fa-sort-down"></i> </a>
                    <a href="?q={{query}}&order_by=name&direction=descending"> <i class="fas fa-sort-up"></i> </a>
                </th>
                <th scope="col">Description
                    <a href="?q={{query}}&order_by=description&direction=ascending"> <i class="fas fa-sort-down"></i> </a>
                    <a href="?q={{query}}&order_by=description&direction=descending"> <i class="fas fa-sort-up"></i> </a>
                </th>
                <td>
                    <a href= "{% url 'installations:institutiontype-insert' %}"
                       class="btn btn-outline-success"
{#                       target="popup"#}
{#                       onclick="window.open('{% url 'installations:institutiontype-insert' %}','popup','width=600,height=600'); return false;"#}
                    >
                        <i class="fa fa-plus"></i>Add New</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for institutiontype in institutiontypes %}
            <tr>
                <td>{{institutiontype.name}}</td>
                <td>{{institutiontype.description}}</td>
                <td>
                    <a href="{% url 'installations:institutiontype-update' institutiontype.id %}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
                    <form action="{% url 'installations:institutiontype-delete' institutiontype.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete all entities connected to this from the database?')">
<!--                        <button type="submit" class="btn">-->
                        <i class="fa fa-trash fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}