{% extends 'installations/base.html' %}
{% load widget_tweaks %}

{% block main_content %}
{% include 'utilities/list_search_bar.html' %}

<h2>Institution list</h2>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Name
                <a href="?q={{query}}&order_by=name"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=-name"> <i class="fas fa-sort-up"></i> </a>
            </td>
            <td>Type
                <a href="?q={{query}}&order_by=type_many"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=-type_many"> <i class="fas fa-sort-up"></i> </a>
            </td>
            <td>city
                <a href="?q={{query}}&order_by=city"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=-city"> <i class="fas fa-sort-up"></i> </a>
            </td>
            <td>Start date
                <a href="?q={{query}}&order_by=start_date_lower"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=-start_date_lower"> <i class="fas fa-sort-up"></i> </a>
            </td>
            <td>religion
                <a href="?q={{query}}&order_by=start_date_lower"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=-start_date_lower"> <i class="fas fa-sort-up"></i> </a>
            </td>
            <td>Status
                <a href="?q={{query}}&order_by=status"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=-status"> <i class="fas fa-sort-up"></i> </a>
            </td>

            <td>
                 <a href="{% url 'installations:institution-insert' %}" class="btn btn-outline-success"> <i class="fa fa-plus"></i> Add New</a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for institution in institution_list %}
            <tr>
                <td>
                    <a href="{% url 'installations:institution-detail' institution.id %}"> {{institution.name }} </a>
                </td>
                <td>
                    {% for t in institution.type_many.all %}
                        {% if t %}
                            {{ t.name }},
                        {% else %}
                            &nbsp;
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{institution.city}}</td>
                <td>
                    {% if institution.start_date_lower == institution.start_date_upper %}
                    {{institution.start_date_lower}}
                    {% else %}
                    {{institution.start_date_lower}} - {{institution.start_date_upper}}
                    {% endif %}
                </td>
                <td>{{institution.religion}}</td>
                <td>
                    {% if institution.status %}
                        <span class="Gdot"></span>
                    {% else %}
                        <span class="Rdot"></span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'installations:institution-update' institution.id %}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
                    <form action="{% url 'installations:institution-delete' institution.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete all entities connected to this from the database?')" >
                            <i class="fa fa-trash fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor%}
    </tbody>

</table>

{% endblock main_content %}
