{% extends 'installations/base.html' %}
{% load widget_tweaks %}

{% block main_content %}

<h2>Institution list</h2>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>city</td>
            <td>Policy</td>
            <td>Start date</td>
            <td>Religion</td>
<!--            <td>Bibliography</td>-->
<!--            <td>Textual evidence</td>-->
<!--            <td>Material evidence</td>-->

            <td>
                 <a href="{% url 'installations:institution-insert' %}" class="btn btn-outline-success"> <i class="fa fa-plus"></i> Add New</a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for institution in institution_list %}
            <tr>
                <td>{{institution.name }}</td>
                <td>{{institution.type}}</td>
                <td>{{institution.city}}</td>
                <td>{{institution.policy}}</td>
                <td>{{institution.start_date}}</td>
                <td>{{institution.religion}}</td>
<!--                <td>{{institution.bibliography}}</td>-->
<!--                <td>{{institution.textual_evidence}}</td>-->
<!--                <td>{{institution.material_evidence}}</td>-->
                <td>
                    <a href="{% url 'installations:institution-update' institution.id %}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
                    <form action="{% url 'installations:institution-delete' institution.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete all entities connected to this from the database?')" >
                            <i class="fa fa-trash fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor%}
    </tbody>

</table>

{% endblock main_content %}
