{% extends 'installations/base.html' %}

{% block head %}

{% endblock head %}


{% block main_content %}

<div style="display:block; width:100%;">
    <div style="width:30%; float: left; display: inline-block;">
        <H2>Advanced search</H2>
        <form method="GET">
            {% csrf_token %}
            {{ filter.form }}
            <br> <br>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
  <div style="width:65%; float: right; display: inline-block;">
      <h2>Installation list</h2>
    <table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Name
                <a href="?q={{query}}&order_by=name&direction=ascending"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=name&direction=descending"> <i class="fas fa-sort-up"></i> </a>
            </td>
            <td>Water System
                <a href="?q={{query}}&order_by=watersystem&direction=ascending"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=watersystem&direction=descending"> <i class="fas fa-sort-up"></i> </a>
            </td>
            <td>Construction Date
                <a href="?q={{query}}&order_by=construction_date_lower&direction=ascending"><i class="fas fa-sort-down"></i></a>
                <a href="?q={{query}}&order_by=construction_date_lower&direction=descending"><i class="fas fa-sort-up"></i></a>
            </td>
            <td>City
                <a href="?q={{query}}&order_by=city&direction=ascending"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=city&direction=descending"> <i class="fas fa-sort-up"></i> </a>
            </td>

            <td>
                 <a href="{% url 'installations:installation-insert' %}" class="btn btn-outline-success"> <i class="fa fa-plus"></i> Add New</a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for installation in filter.qs %}
            <tr>
                <td>{{installation.name }}</td>
                <td>{{installation.watersystem }}</td>

                <td>
                    {% if installation.construction_date_lower == installation.construction_date_upper %}
                    {{installation.construction_date_lower}}
                    {% else %}
                    {{installation.construction_date_lower}} - {{installation.construction_date_upper}}
                    {% endif %}
                </td>
                <td>{{installation.city}}</td>
                <td>
                    <a href="{% url 'installations:installation-update' installation.id %}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
                    <form action="{% url 'installations:installation-delete' installation.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete all entities connected to this from the database?')">
<!--                        <button type="submit" class="btn">-->
                        <i class="fa fa-trash fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor%}
    </tbody>

</table>

  </div>
</div>

{#<div class="row">#}
{#  <div class="column" style="background-color:#aaa;">#}
{#    #}
{#  </div>#}
{#  <div class="column" style="background-color:#bbb;">#}
{#    #}
{#  </div>#}
{#</div>#}





{% endblock main_content %}
