{% extends 'installations/base.html' %}

{% block head %}

{% endblock head %}


{% block main_content %}

<div style="display:block; width:100%;">
    <div style="width:30%; float: left; display: inline-block;">
        <H2>Advanced search</H2>
        <form method="GET">
            {% csrf_token %}
        <table class="table table-borderless" >
            <tr class="d-flex">
                <th class="col-4">Name</th>
                <td class="col-8"> <input type="text" name="q_name" placeholder=Name
                    class="col-12 mb-1"
                    {% if query_name is not None %}
                       value="{{query_name}}"
                    {% endif %}>
                </td>
            </tr>
            <tr class="d-flex">
                <th class="col-4">Water system</th>
                <td class="col-8"> <input type="text" name="q_watersystem" placeholder="Original term, Type"
                    class="col-12 mb-1"
                    {% if query_watersystem is not None %}
                       value="{{query_watersystem}}"
                    {% endif %}>
                </td>
            </tr>
            <tr class="d-flex">
                <th class="col-4">Construc. date</th>
                <td class="col-4">
                    <input type="text" name="q_constructiondate_l" placeholder="Min " class="col-12 mb-1"
                    {% if query_constructiondate_l is not None %}
                       value="{{query_constructiondate_l}}"
                    {% endif %}>
                </td>
                <td class="col-4">
                    <input type="text" name="q_constructiondate_u" placeholder="Max " class="col-12 mb-1"
                    {% if query_constructiondate_u is not None %}
                       value="{{query_constructiondate_u}}"
                    {% endif %}>
                </td>
            </tr>
            <tr class="d-flex">
                <th class="col-4">First reference</th>
                <td class="col-4">
                    <input type="text" name="q_firstreference_l" placeholder="Min " class="col-12 mb-1"
                    {% if query_firstreference_l is not None %}
                       value="{{query_firstreference_l}}"
                    {% endif %}>
                </td>
                <td class="col-4">
                    <input type="text" name="q_firstreference_u" placeholder="Max " class="col-12 mb-1"
                    {% if query_firstreference_u is not None %}
                       value="{{query_firstreference_u}}"
                    {% endif %}>
                </td>
            </tr>
            <tr class="d-flex">
                <th class="col-4">End date</th>
                <td class="col-4">
                    <input type="text" name="q_enddate_l" placeholder="Min " class="col-12 mb-1"
                    {% if query_enddate_l is not None %}
                       value="{{query_enddate_l}}"
                    {% endif %}>
                </td>
                <td class="col-4">
                    <input type="text" name="q_enddate_u" placeholder="Max " class="col-12 mb-1"
                    {% if query_enddate_u is not None %}
                       value="{{query_enddate_u}}"
                    {% endif %}>
                </td>
            </tr>
            <tr class="d-flex">
                <th class="col-4">Neighbourhood</th>
                <td class="col-4">
                    <input type="text" name="q_city" placeholder="City " class="col-12 mb-1"
                    {% if query_city is not None %}
                       value="{{query_city}}"
                    {% endif %}>
                </td>
                <td class="col-4">
                    <input type="text" name="q_neighbourhoodno" placeholder="Neighb. no." class="col-12 mb-1"
                    {% if query_neighbourhoodno is not None %}
                       value="{{query_neighbourhoodno}}"
                    {% endif %}>
                </td> Institution as location
            </tr>
            <tr class="d-flex">
                <th class="col-4">Inst. as location</th>
                <td class="col-8"> <input type="text" name="q_institutionaslocation" placeholder="Institution name, Type"
                    class="col-12 mb-1"
                    {% if query_institutionaslocation is not None %}
                       value="{{query_institutionaslocation}}"
                    {% endif %}>
                </td>
            </tr>
            <tr class="d-flex">
                <th class="col-4">Comment</th>
                <td class="col-8"> <input type="text" name="q_comment" placeholder=Comment
                    class="col-12 mb-1"
                    {% if query_comment is not None %}
                       value="{{query_comment}}"
                    {% endif %}>
                </td>
            </tr>
            <tr class="d-flex">
                <th class="col-4"></th>
                <td class="col-8"> <h5 style="color:limegreen" align="center">Search among the connections</h5>
                </td>
            </tr>
            <tr class="d-flex">
                <th class="col-4">Institution</th>
                <td class="col-8"> <input type="text" name="q_institution" placeholder="Name, Type of env., Type"
                    class="col-12 mb-1"
                    {% if query_institution is not None %}
                       value="{{query_institution}}"
                    {% endif %}>
                </td>
            </tr>
            <tr class="d-flex">
                <th class="col-4">Person</th>
                <td class="col-8"> <input type="text" name="q_person" placeholder="Name, Type of env., Role,..."
                    class="col-12 mb-1"
                    {% if query_person is not None %}
                       value="{{query_person}}"
                    {% endif %}>
                </td>
            </tr>

            <tr class="d-flex">
                <th class="col-4">Evidence</th>
                <td class="col-8"> <input type="text" name="q_evidence" placeholder="Title, Author,..."
                    class="col-12 mb-1"
                    {% if query_evidence is not None %}
                       value="{{query_evidence}}"
                    {% endif %}>
                </td>
            </tr>
            <tr class="d-flex">
                <th class="col-4"> <label for="order">Order by</label> </th>
                <td class="col-8">
                      <select name="order_by" id="order">
                          <option value="name">Name</option>
                          <option value="type_many">Type</option>
                          <option value="city">City</option>
                          <option value="start_date_lower">Start date</option>
                          <option value="first_reference_lower">First reference</option>
                      </select>
                </td>
            </tr>
        </table>
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="{% url 'installations:installation-advancedsearch' %}" class="btn btn-warning" > Clear form</a>
        </form>
    </div>


  <div style="width:65%; float: right; display: inline-block;">
      <h2>Installation list</h2>
    <table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Name
                <a href="?q={{query}}&order_by=name&direction=ascending"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=name&direction=descending"> <i class="fas fa-sort-up"></i> </a>
            </td>
            <td>Water System
                <a href="?q={{query}}&order_by=watersystem&direction=ascending"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=watersystem&direction=descending"> <i class="fas fa-sort-up"></i> </a>
            </td>
            <td>Construction Date
                <a href="?q={{query}}&order_by=construction_date_lower&direction=ascending"><i class="fas fa-sort-down"></i></a>
                <a href="?q={{query}}&order_by=construction_date_lower&direction=descending"><i class="fas fa-sort-up"></i></a>
            </td>
            <td>City
                <a href="?q={{query}}&order_by=city&direction=ascending"> <i class="fas fa-sort-down"></i> </a>
                <a href="?q={{query}}&order_by=city&direction=descending"> <i class="fas fa-sort-up"></i> </a>
            </td>

            <td>
                 <a href="{% url 'installations:installation-insert' %}" class="btn btn-outline-success"> <i class="fa fa-plus"></i> Add New</a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for installation in installation_list %}
            <tr>
                <td>{{installation.name }}</td>
                <td>{{installation.watersystem }}</td>

                <td>
                    {% if installation.construction_date_lower == installation.construction_date_upper %}
                    {{installation.construction_date_lower}}
                    {% else %}
                    {{installation.construction_date_lower}} - {{installation.construction_date_upper}}
                    {% endif %}
                </td>
                <td>{{installation.city}}</td>
                <td>
                    <a href="{% url 'installations:installation-update' installation.id %}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
                    <form action="{% url 'installations:installation-delete' installation.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete all entities connected to this from the database?')">
<!--                        <button type="submit" class="btn">-->
                        <i class="fa fa-trash fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor%}
    </tbody>

</table>

  </div>
</div>

{#<div class="row">#}
{#  <div class="column" style="background-color:#aaa;">#}
{#    #}
{#  </div>#}
{#  <div class="column" style="background-color:#bbb;">#}
{#    #}
{#  </div>#}
{#</div>#}





{% endblock main_content %}
