{% extends "installations/base.html" %}

{% block main_content %}
    <h2>Location list</h2>
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <td>
{#                    <a href= "{% url 'installations:religion-insert' %}"#}
{#                       class="btn btn-outline-success"#}
{#                       target="popup"#}
{#                       onclick="window.open('{% url 'installations:religion-insert' %}','popup','width=600,height=600'); return false;">#}
{#                        <i class="fa fa-plus"></i> Add New</a>#}
                    <a href="{% url 'installations:location-insert' %}" class="btn btn-outline-success" > <i class="fa fa-plus"></i> Add New</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
            <tr>
                <td>{{location.latitude}}</td>
                <td>{{location.longitude}}</td>
                <td>
                    <a href="{% url 'installations:location-update' location.id %}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
                    <form action="{% url 'installations:location-delete' location.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete all entities connected to this from the database?')">
<!--                        <button type="submit" class="btn">-->
                        <i class="fa fa-trash fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}