{% extends 'installations/base.html' %}

{% block head %}
    <!-- Leaflet's CSS java scripts are included in base.html -->
    <!-- noUiSlider links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css"
          integrity=""
          crossorigin=""/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js"></script>

    <style>
        #map {
            height: 680px;
        }

        /* CSS for sidebar */

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 60px;
            left: 0;
            background-color: #ffffff;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidebar a {
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            color: #ff0000;
        }

        .sidebar .closebtn {
            position: absolute;
            top: 0px;
            right: 5px;
            font-size: 25px;
            margin-left: 5px;
        }

        #main {
            transition: margin-left .5s;
            padding: 0px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 1px;
            }

            .sidebar a {
                font-size: 18px;
            }
        }
    </style>

{% endblock %}

{% block left %}
{#    <button class="mat-flat-button" onclick="toggleButton()"><i class="fas fa-bars"></i></button>#}
    <button class="mat-flat-button" onclick="openNav()"><i class="fas fa-bars"></i> Filter</button>
{% endblock %}

{% block main_content %}
    <!-- Sidebar -->
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="col-2">
        </div>
        {#                    <div class="container-lg"> <!--! adds a  X px left and right padding to any HTML element. -->#}
        <div class="col-11">
            <table>
{#                <tr class="d-flex">Date range</tr>#}
{#                <tr>#}
{#                    <div id="years"></div>#}
{#                </tr>#}
                <tr class="d-flex">Map opacity </tr>
                <tr>
                    <div id="map_opacity"></div>
                </tr>
                <tr>
                    <br>
                    <td class="col-2">
                        <label for="city">City:</label>
                    </td>
                    <td class="col-10">
                        <select name="city" id="city-select" onChange="setMapCenter(this.options[this.selectedIndex].value)">
                            {% for city in cities %}
                                <option value="{{city.name}}">{{city.name }}</option>
                            {% endfor%}
                        </select>
                    </td>
                </tr>

            </table>
        </div>
        {#        <div class="col-1">#}
        {#        </div>#}
    </div>

    <div id="main">
{#        <button class="mat-flat-button"  onclick="toggleButton()"><i class="fas fa-bars"></i></button>#}
        <p>Date range</p>
        <div id="years"></div>
        <br>
        <div id="map"></div>
        {{figures|json_script:"figuresjs"}}
        {{styles|json_script:"stylesjs"}}
        {{cjs|json_script:"cjsjs"}}
        {{neighbourhoods|json_script:"neighbourhoodsjs"}}

        <div>
{#            <p> Here are the figure list</p>#}
{#            {{ figures }}#}
{#            {% for fig in figures %}#}
{#                {{ fig.name }} --> {{ fig.geojson }} <br>#}
{#            {% endfor %}#}
        </div>
    </div>


<script>
    // Js for sidebar
    function openNav() {
        document.getElementById("mySidebar").style.width = "400px";
        document.getElementById("main").style.marginLeft = "400px";
        document.getElementById("main").style.marginTop = "0px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

    function toggleButton() {
        if (!this.isToggled) {
            openNav();
        } else {
            closeNav();
        }
        this.isToggled = !this.isToggled;
    }


    // Set view and zoom level for map
    {#var selectedcity = document.getElementById("city-select");#}
    {#console.log(selectedcity.value, "selected city")#}
    var mapCenter = [30.041394878798638,31.237350234985355]
    var mymap = L.map('map').setView(mapCenter, 12);

    // Define different tileLayer for map ------------------------------------------------------------------------------

    // mapbox layer
    var mapbox = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoibW9qaXJvc2kiLCJhIjoiY2t2czl3Y2VzMGE3eTJ2bzJhMXdiMGM4ciJ9.RArnejioh0AnjXVmZWP9-A'
    });

    // stadia layer
    var stadia = L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png', {
        maxZoom: 20,
        opacity: 0.9,
        attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
    });

    // watercolor layer
    var Watercolor = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 1,
        maxZoom: 16,
        ext: 'jpg'
    });

    // stamen
    var Stamen = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}{r}.{ext}', {
        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        subdomains: 'abcd',
        minZoom: 0,
        maxZoom: 20,
        ext: 'png'
    });

    // Sat
    var sat = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
    });

    // you can change for different Google maps in url using: Hybrid: s,h; Satellite: s; Streets: m; Terrain: p;
    // Google streets
    var googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
        maxZoom: 20,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    });

    // Google satellite
    var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
        maxZoom: 20,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    });

    // Google Terrain
    var googleTerrain = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', {
        maxZoom: 20,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    });

    // Google Hybrid
    var googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
        maxZoom: 20,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    });

    mapbox.addTo(mymap)

    //------------------------------------------------------------------------------------------------------------------
    // functions to work with Json files on map for Figures
    function onEachFeature(feature,layer) {
        //binds the pop up and tool tip to each feature
        //skips tooltips for districts because they '  ' the tooltip from other objects
        layer.bindPopup(feature.pop_up,{maxWidth:200,closeButton:false});
        if (!layer.feature.tool_tip.toLowerCase().includes('district')) {
        layer.bindTooltip(feature.tool_tip);
        }
    }

    function make_pop_up(figure) {
        //create a pop up based on the figure information
        [app_name,model_name] = figure.model.split('.')
        if (figure.fields.name.toLowerCase().includes('district')) {
        var m = '<p class="mt-0 mb-0">'+figure.fields.name+'</p>'
        }
        else {
        var m = '<p class="mt-2 mb-0">'+figure.fields.name+'</p>'
        {#m += '<p class="mt-2 mb-0">'+figure.fields.description+'</p>'#}
        m += '<a class = "btn btn-link btn-sm mt-1 pl-0 text-dark" href='
        m += '/installations/figure/new/' + figure.pk
        m += ' role="button"><i class="far fa-edit"></i></a>'
        }
        return m
    }

    function add_popup_and_tooltip(data,pop_up,figure_name) {
        //set the pop up and tool tip on geojson features
        for (i=0;i<data.features.length;i++){
            var feature = data.features[i]
            feature['pop_up'] = pop_up
            feature['tool_tip']= figure_name
        }
    }

    async function add_figure(figure) {
        //function loads the json figure connected to figure through ajax
        //fetches the correct style and creates a popup and tooltip
        const response = await fetch('/media/'+figure.fields.geojson)
        const data = await response.json()
        style = make_style(figure);
        var pop_up = make_pop_up(figure);
        add_popup_and_tooltip(data,pop_up,figure.fields.name)
        {#L.geoJSON(data).addTo(mymap)#}
        var geosjson_layer = L.geoJSON(data,{style:style,onEachFeature:onEachFeature})
	    Landlayers.push({'figure':figure,'layer':geosjson_layer,'style':style})
    }

    function get_style(pk) {
        //style is a foreign key on the figure object, this function returns the correct style based on
        // the pk
        for (i = 0; i<styles.length; i++) {
            if (styles[i].pk === pk) {return styles[i]}
        }
        return '#CCFFAA'
    }

    function make_style(figure){
        //create a dict that sets the style of a figure (based on the style objects in the database
        style= get_style(figure.fields.style);
        var myStyle = {
            "color": style.fields.color,
            "weight": style.fields.stroke_weight,
            "opacity": style.fields.stroke_opacity,
            "fillOpacity": style.fields.fill_opacity,
            "z_index": style.fields.z_index
        };
        if (style.fields.dashed) {myStyle ={...myStyle,...{"dashArray": '20, 20'}}}
        return myStyle
    }

    function check_overlap(low,high){
        //compare start and end date of a figure with start end date of the year slider
        if (low <= start && high >= start){ return true;}
        if (low >= start && high <= end){ return true;}
	    if (low <= end && high >= start){ return true;}
        return false;
    }
    
    function show_layers(){
        //show the figures in the order of the z index
        Landlayers.sort((a,b) => a.style.z_index - b.style.z_index)
        for (i = 0; i<Landlayers.length; i++) {
            layer = Landlayers[i];
            //check whether a figure overlaps with the current time range and only plot those that do
            overlap = check_overlap(layer.figure.fields.start_date, layer.figure.fields.end_date)
            if (overlap) {mymap.addLayer(layer.layer);}
            else {mymap.removeLayer(layer.layer);}
        }
    }

    async function check_done_loading(list,expected_n) {
        //check whether the expected_n number of values are loaded into the array list
        while (true) {
            await new Promise(r => setTimeout(r,100));
            if (list.length == expected_n) {break;}
        }
        show_layers();
    }

    //------------------------------------------------------------------------------------------------------------------
    // functions to work with Json files of Neighbourhoods
    function onEachFeature_neighbour(feature,layer) {
        //binds the pop up and tool tip to each feature
        //skips tooltips for districts because they '  ' the tooltip from other objects
        layer.bindPopup(feature.pop_up,{maxWidth:200,closeButton:false});
        layer.bindTooltip(feature.tool_tip);
    }

    function make_pop_up_neighbour(neighbourhood) {
        //create a pop up based on the neighbourhood information
        [app_name,model_name] = neighbourhood.model.split('.')
        var m = '<p class="mt-0 mb-0">'+'Neighbourhood '+neighbourhood.fields.neighbourhood_number+'</p>'
        m += '<a class = "btn btn-link btn-sm mt-1 pl-0 text-dark" href='
        m += '/installations/neighbourhood/new/' + neighbourhood.pk
        m += ' role="button"><i class="far fa-edit"></i></a>'
        return m
    }

    async function add_neighbourhood(neighbourhood) {
        //function loads the json figure connected to figure through ajax
        //fetches the correct style and creates a popup and tooltip
        const response = await fetch('/media/'+neighbourhood.fields.extent_shapefile)
        const data = await response.json()
        if (neighbourhood.fields.style == null){
            var style = {
            "color": "#6BA884",
            "weight": 3,
            "opacity": 0.8,
            "fillOpacity": 0,
            "z_index": 0
            };
            style ={...style,...{"dashArray": '20, 20'}}
        }
        else{
            style = make_style(neighbourhood);
        }
        var pop_up = make_pop_up_neighbour(neighbourhood);
        add_popup_and_tooltip(data,pop_up,neighbourhood.fields.neighbourhood_number)
        {#L.geoJSON(data).addTo(mymap)#}
        var geosjson_layer = L.geoJSON(data,{style:style,onEachFeature:onEachFeature_neighbour})
	    Neighbourlayers.push({'neighbourhood':neighbourhood,'layer':geosjson_layer,'style':style})
    }

    function show_layers_neighbour(){
        for (i = 0; i<Neighbourlayers.length; i++) {
            layer = Neighbourlayers[i];
            mymap.addLayer(layer.layer);
        }
    }

    async function check_done_loading_neighbour(list,expected_n) {
        //check whether the expected_n number of values are loaded into the array list
        while (true) {
            await new Promise(r => setTimeout(r,100));
            if (list.length == expected_n) {break;}
        }
        show_layers_neighbour();
    }
    // add Neighbourhoods-----------------------------------------------------------------------------------------------
    var Neighbourlayers = [];
    neighbourhoods = JSON.parse(document.getElementById('neighbourhoodsjs').textContent)

    for (i = 0; i<neighbourhoods.length; i++) {
        //create figures to plot on the leaflet map
        add_neighbourhood(neighbourhoods[i]);
    }

    check_done_loading_neighbour(Neighbourlayers,neighbourhoods.length);
    //add Figures-------------------------------------------------------------------------------------------------------
    var Landlayers = [];
    styles = JSON.parse(document.getElementById('stylesjs').textContent)
    figures = JSON.parse(document.getElementById('figuresjs').textContent)

    for (i = 0; i<figures.length; i++) {
        //create figures to plot on the leaflet map
        add_figure(figures[i]);
    }

    check_done_loading(Landlayers,figures.length);
    //------------------------------------------------------------------------------------------------------------------
    // Multi slider for Date range
    var start = 1000;
    var end = 1400;
    var multi_slider = document.getElementById('years');
    noUiSlider.create(multi_slider, {
        start: [start, end],
        connect: true,
        range: {'min':000,'max':2000},
        steps: 50,
        tooltips: true,
        format: {to: function (value) {return Math.floor(value)},from: function (value) {return Math.floor(value)}},
    });

    multi_slider.noUiSlider.on('change',handleYearSlider);

    function handleYearSlider(values) {
        //set start and end values based on the year slider, this is used to determine which
        //figures are shown
        start= values[0];
        end= values[1];
        console.log(values)
        show_layers();
    }
    //------------------------------------------------------------------------------------------------------------------
    //create slider to control opacity of the map tiles
    var slider = document.getElementById('map_opacity');
    noUiSlider.create(slider, {
        start: [40],
        range: {'min':0,'max':100},
        steps: 1,
    });

    slider.noUiSlider.on('slide',function(value){
        // set all base maps opacity
        stadia.setOpacity(value/100);
        mapbox.setOpacity(value/100);
        googleStreets.setOpacity(value/100);
        googleSat.setOpacity(value/100);
    });
    //------------------------------------------------------------------------------------------------------------------
    // Layer controller
    var baseMaps = {
       {#"Gray": stadia,#}
       "MapBox": mapbox,
       "Google streets": googleStreets,
       "Google satellite": googleSat,
    };

    var overlayMaps = {
    };

    L.control.layers(baseMaps, overlayMaps).addTo(mymap);

    //------------------------------------------------------------------------------------------------------------------
    // City filter
    function setMapCenter(chosen) {
        cityjs = JSON.parse(document.getElementById('cjsjs').textContent)
        for (i = 0; i<cityjs.length; i++) {
        //Check which city is selected
            if (cityjs[i].fields.name === chosen){
                mapCenter = [cityjs[i].fields.latitude, cityjs[i].fields.longitude]
                mymap.setView(mapCenter, 12);
            }
        }
    }
    //------------------------------------------------------------------------------------------------------------------
    //


</script>



<style>
/* no box around tooltip (numbers above the handles);
 */
.noUi-tooltip {
  border: 0px;
  padding: 0px;
}

/* style handles;
 */
.noUi-handle {
    border: 1px solid black;
    border-radius: 5px;
    background: black;
    box-shadow:none;
	width: 15px !important;
	height:15px !important;
	right: -5px !important;
	font-size: 14px;
}
/* make handel white on hover
*/
.noUi-handle:hover{
	background:white;
}

/* Handle stripes;(remove them)
 */
.noUi-handle:before,
.noUi-handle:after {
  width: 0px;
}

/* remove blue outline on pressed handle
 */
.noUi-handle:focus {
	outline:none;
}

.noUi-active {
  box-shadow: none;
}

/* connect bar color  */
.noUi-connect {
	background:black;
}

.noUi-horizontal, .noUi-vertical {
    background: lightgrey;
	height:2px;
	border:0px solid grey;
 }
</style>

{% endblock %}