{% extends "installations/base.html" %}

{% block main_content %}
    <h2>Person-Institution relation list</h2>
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <th scope="col">Person</th>
                <th scope="col">Institution</th>
                <th scope="col">Role</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <td>
                    <a href= "{% url 'installations:personinstitutionrelation-insert' %}"
                       class="btn btn-outline-success"
                       target="popup"
                       onclick="window.open('{% url 'installations:personinstitutionrelation-insert' %}','popup','width=600,height=600'); return false;">
                        <i class="fa fa-plus"></i> Add New</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for personinstitutionrelation in personinstitutionrelations %}
            <tr>
                <td>{{personinstitutionrelation.person}}</td>
                <td>{{personinstitutionrelation.institution}}</td>
                <td>{{personinstitutionrelation.role}}</td>
                <td>{{personinstitutionrelation.start_date}}</td>
                <td>{{personinstitutionrelation.end_date}}</td>
                <td>
                    <a href="{% url 'installations:personinstitutionrelation-update' personinstitutionrelation.id %}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
                    <form action="{% url 'installations:personinstitutionrelation-delete' personinstitutionrelation.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete all entities connected to this from the database?')">
<!--                        <button type="submit" class="btn">-->
                        <i class="fa fa-trash fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}