{% extends "installations/base.html" %}
{% load crispy_forms_tags %}

{% block main_content %}

    <h2>
        {% if not form.instance.pk %}
            Add Purpose
        {% else %}
            Update Purpose "{{purpose.name}}"
        {% endif %}
    </h2>

    <form method="post">
        {% csrf_token %}
        <table>
            {{ form|crispy }}
        </table>
        <div class="form-group">
            {% if not form.instance.pk %}
                <button type="submit" class="btn btn-success"><i class="fa fa-database"></i>Save</button>
            {% else %}
                <button type="submit" class="btn btn-success"><i class="fa fa-database"></i>Update</button>
            {% endif %}
            <a href="{% url 'installations:purpose-list' %}" class="btn btn-default">Cancel</a>
        </div>
    </form>

{% endblock %}