{% extends "installations/base.html" %}

{% block main_content %}

    <h2>
        {% if not form.instance.pk %}
            Add Source type
        {% else %}
            Update source type "{{sourcetype.name}}"
        {% endif %}
    </h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if not form.instance.pk %}
            <input type="submit" class="btn btn-primary" value="Submit">
        {% else %}
            <input type="submit" class="btn btn-primary" value="Update">
        {% endif %}

    </form>

{% endblock %}