{% extends 'installations/base.html' %}

{% block main_content %}

<h2>Style list</h2>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td class="col-3">Name
            </td>
            <td class="col-2">Color
            </td>
            <td class="col-2">Z index
            </td>
            <td class="col-1">Fill opacity
            </td>
            <td class="col-1">Stroke opacity
            </td>

            <td class="col-2">
                 <a href="{% url 'installations:figure-insert' %}" class="btn btn-outline-success"> <i class="fa fa-plus"></i> Add New</a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for style in styles %}
            <tr style="border-bottom:1px solid lightgrey">
                <td>{{style.name }}</td>
                <td>
                    {{style.color }}
                </td>
                <td>{{style.z_index }}</td>
                <td>
                    {{style.fill_opacity }}
                </td>
                <td>
                    {{style.stroke_opacity }}
                </td>
                <td>
                    <a href="{% url 'installations:style-update' style.id %}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
                    <form action="{% url 'installations:style-delete' style.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete all entities connected to this from the database?')">
<!--                        <button type="submit" class="btn">-->
                        <i class="fa fa-trash fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor%}
    </tbody>

</table>

{% endblock main_content %}
