{% extends "installations/base.html" %}

{% block main_content %}
    <h2>Textual evidence list</h2>
    <table class="table table-borderless">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Description</th>
                <td>
                    <a href= "{% url 'installations:textualevidence-insert' %}"
                       class="btn btn-outline-success"
                       target="popup"
                       onclick="window.open('{% url 'installations:textualevidence-insert' %}','popup','width=600,height=600'); return false;">
                        <i class="fa fa-plus"></i> Add New</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for textualevidence in textualevidences %}
            <tr>
                <td>{{textualevidence.title}}</td>
                <td>{{textualevidence.author}}</td>
                <td>{{textualevidence.description}}</td>
                <td>
                    <a href="{% url 'installations:textualevidence-update' textualevidence.id %}" class="btn text-secondary px-0"><i class="fa fa-edit fa-lg"></i></a>
                    <form action="{% url 'installations:textualevidence-delete' textualevidence.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn" onclick="return confirm('Are you sure you want to delete all entities connected to this from the database?')">
<!--                        <button type="submit" class="btn">-->
                        <i class="fa fa-trash fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}