{% extends 'installations/base.html' %}
{% load crispy_forms_tags %}

{% block script %}

<script type="text/javascript">
function showEditPopup(url) {
    var win = window.open(url, "Edit",
        'height=500,width=800,resizable=yes,scrollbars=yes');
    return false;
}
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}
function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}

</script>
{% endblock %}

{% block main_content %}
<div class = "container">
	<h1>Add Textual Evidence</h1>
	<form method = 'POST' action= '' enctype = "multipart/form-data" novalidate id = "textualevidence-form">
        {% csrf_token %}
		<label for="title" class="control-label">Title</label>
			{{form.title }}
		<br><br>
		<label for="source_type" class="control-label">Author</label>
		{{form.author }}
		<a href="/sourcetype/new" id="add_sourcetype" onclick="return showAddPopup(this);">add</a>
		<a id="edit_sourcetype" style="cursor: pointer; cursor: hand;">edit</a>
		<br><br>
		<label for="date" class="control-label">Date</label>
		{{form.date }}
		<br><br>
		<label for="description" class="control-label">Description</label>
		<label for="bibliography" class="control-label">Bibliography</label>
		{{form.bibliography }}
		<input type="submit" value = "Submit" />
	</form>
</div>

{% endblock main_content %}

{% block javascript %}
<script>
$("#edit_sourcetype").click(function(){
	sourcetype_name = $("#id_sourcetype option:selected").text();
	var data = {"sourcetype_name":sourcetype_name};
    $.ajax({
        type : 'GET',
        url :  'sourcetype/ajax/get_sourcetype_id',
        data : data,
        success : function(data){
        	var url = "/sourcetype/" + "/update/"+ data['sourcetype_id'] ;
        	showEditPopup(url);
        },
        error: function(data) {
          alert("Something Went Wrong");
        }
  	});
})

</script>
{% endblock javascript %}